body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(176, 94, 190);
}

/* Search Input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Search Button */
button {
  padding: 10px 20px;
  font-size: 1.1em;
  background-color: #c798d0; 
  color:  rgb(176, 94, 190);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d6a1d6; 
}

/* Search Results Section */
h2 {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  margin-top: 30px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
}
.error {
  color: red;
  font-weight: bold;
  padding: 10px;
  background-color: #ffe6e6;
  border: 1px solid red;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
p.error {
  color: red;
  font-size: 1em;
  margin-top: 20px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.1em;
  color: #555;
} 