body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.content-box {
  border: 2px solid #ddd;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.header-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.header h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.product-form {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #fafafa;
}

.product-selection,
.quantity-selection {
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
  color: #333;
}

.quantity-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-button:hover {
  background-color: #d1d1d1;
}

.quantity-display {
  margin: 0 15px;
  font-weight: bold;
  font-size: 18px;
}

.order-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.order-info-table th,
.order-info-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.order-info-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

select {
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
