.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.content-box {
  border: 2px solid #000;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.header-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
  white-space: nowrap;
}

.product-form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.product-selection,
.quantity-selection {
  margin-bottom: 20px;
}

.quantity-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button {
  margin-left: 10px;
  padding: 5px 10px;
}

.quantity-display {
  margin: 0 10px;
  font-weight: bold;
}

.order-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-info-table th,
.order-info-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
